* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html,body {
    width: 100%;
    height: 100%;
    background-color: lightgray;
}

#main {
    display: flex;
    justify-content: center;
    margin-top: 50px;
    gap: 20px;
}

#options {
    gap: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#playground {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

#gridContainer {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 760px;
    height: 760px;
}

.row {
    display: flex;
    flex: 1;
}

.square {
    padding: 5px;
    display: flex;
    flex: 1;
}

#colorPicker {
    display: flex;
    flex-direction: column;
    align-items: center;
}

button {
    padding:20px;
}

.sliderSize {
    display: flex;
}

.slider {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.toggleContainer {
    display: flex;
    align-items: center;
    gap: 5px;
}

.toggle-button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.toggle-button {
    position: relative;
    display: inline-block;
    width: 100px;
    height: 50px;
    margin: 0;
    vertical-align: top;
    background: #ffffff;
    border: 1px solid #bbc1e1;
    border-radius: 30px;
    outline: none;
    cursor: pointer;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    transition: all 0.3s cubic-bezier(0.2, 0.85, 0.32, 1.2);
}

.toggle-button::after {
    content: "";

    display: inline-block;
    position: absolute;
    left: 3px;
    top: 1.5px;

    width: 45px;
    height: 45px;
    background-color: blue;
    border-radius: 50%;

    transform: translateX(0);
    transition: all 0.3s cubic-bezier(0.2, 0.85, 0.32, 1.2);
}

.toggle-button:checked::after {
    transform: translateX(calc(100% + 3px));
    background-color: #fff;  
    }
    .toggle-button:checked {
    background-color: blue;
}

footer {
    margin-top: auto;
    display: flex;
    justify-content: center;
}

.footer {
    display: flex;
    font-size: 18px;
    margin-bottom: 10px;
    align-items: center;
}

.footer a {
    margin-left: 10px;
    text-decoration: none;
}

.footer a:hover {
    color: orange;
}

.githubicon {
    background-color: transparent;
    margin-left: 10px;
}

/* responsiveness */
@media(max-width: 768px) {
    body {
        flex-direction: column;
        padding-top: 20px;
        text-align: center;
    }

    html, body { 
        margin: auto; 
        height: 100%; 
        overflow: auto;
    } 
}