* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html,body {
    width: 100%;
    height: 100%;
}

#main {
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

#playground {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

#gridContainer {
    display: flex;
    flex-direction: column;
    /* flex: 1; */
    flex-wrap: wrap;
/*     margin-left: auto;
    margin-right: auto; */
    width: 760px;
    height: 760px;
    border: 1px solid blue;
}

.row {
    display: flex;
    flex: 1;
}

.square {
    padding: 5px;
    border: thin solid black;
    display: flex;
    flex: 1;
}

#options {
    display: flex;
    flex-direction: column;
}

button {
    padding:20px;
}

.sliderSize {
    display: flex;

}

.slider {
    display: flex;
    flex-direction: column;
    align-items: center;
}